.frame-child {
    width: 370px;
    position: absolute;
    margin: 0 !important;
    top: 0px;
    left: 0px;
    border-radius: 118.4px;
    height: 370px;
    z-index: 0;
}
.vector-icon {
    width: 111px;
    position: relative;
    height: 166.5px;
}
.frame1 {
    position: absolute;
    top: calc(50% - 109.15px);
    left: calc(50% - 111px);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 25.9px 55.5px;
}
.frame {
    width: 199.8px;
    position: relative;
    height: 199.8px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
}
.star-parent {
    align-self: stretch;
    height: 370px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 85.6px;
    box-sizing: border-box;
    position: relative;
    gap: 15.3px;
}
.star-group {
    align-self: stretch;
    height: 370px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 85.6px;
    box-sizing: border-box;
    position: relative;
    gap: 15.3px;
    margin-top: -48px;
}
.frame-parent {
    position: absolute;
    top: -267px;
    left: 114px;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.macbook-pro-14-13-inner {
    position: absolute;
    top: calc(50% - 457px);
    left: 884px;
    border-radius: 4px;
    background-color: #0367fd;
    width: 597px;
    height: 913px;
    overflow: hidden;
}
.macbook-pro-14-13-child {
    position: absolute;
    top: 49px;
    left: 30px;
    width: 159.2px;
    height: 33.3px;
}
.how-long-do {
    position: absolute;
    top: 163px;
    left: 54px;
    display: inline-block;
    width: 650px;
}
.next {
    position: relative;
}
.group-icon {
    width: 40px;
    position: relative;
    height: 40px;
}
.next-parent {
    position: absolute;
    top: 699px;
    left: 398px;
    box-shadow: 0px 3px 18.1px rgba(0, 0, 0, 0.1);
    border-radius: 120px;
    background-color: #fff;
    height: 73px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 24px;
    box-sizing: border-box;
    gap: 9px;
    font-size: 20.18px;
    color: #0367fd;
}
.macbook-pro-14-13-item {
    position: absolute;
    top: 699px;
    left: 306px;
    border-radius: 120px;
    width: 88px;
    height: 73px;
}
.chatgpt-image-apr-10-2025-03 {
    position: absolute;
    top: 19px;
    left: 23px;
    width: 112px;
    height: 191px;
    object-fit: cover;
}
.chatgpt-image-apr-10-2025-03-wrapper {
    width: 157px;
    position: relative;
    border-radius: 6px;
    background-color: #fff;
    height: 230px;
    overflow: hidden;
    flex-shrink: 0;
}
.chatgpt-image-apr-10-2025-031 {
    position: absolute;
    top: 35.2px;
    left: 32px;
    width: 93px;
    height: 158.6px;
    object-fit: cover;
}
.chatgpt-image-apr-10-2025-032 {
    position: absolute;
    top: 27px;
    left: 39px;
    width: 99px;
    height: 175px;
    object-fit: cover;
}
.chatgpt-image-apr-10-2025-03-frame {
    width: 157px;
    position: relative;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #0367fd;
    box-sizing: border-box;
    height: 230px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
}
.macbook-pro-14-13-inner1 {
    position: absolute;
    top: 334px;
    left: 57px;
    background-color: #f2f2f2;
    width: 804px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 61px;
    box-sizing: border-box;
}
.rectangle-div {
    position: absolute;
    top: 105px;
    left: 36px;
    background-color: #3dcc86;
    width: 79px;
    height: 11px;
}
.macbook-pro-14-13-child1 {
    position: absolute;
    top: 105px;
    left: 124px;
    background-color: #3dcc86;
    width: 79px;
    height: 11px;
}
.macbook-pro-14-13-child2 {
    position: absolute;
    top: 105px;
    left: 212px;
    background-color: #efefef;
    width: 79px;
    height: 11px;
}
.macbook-pro-14-13-child3 {
    position: absolute;
    top: 105px;
    left: 300px;
    background-color: #efefef;
    width: 79px;
    height: 11px;
}
.macbook-pro-14-13-child4 {
    position: absolute;
    top: 105px;
    left: 388px;
    background-color: #efefef;
    width: 79px;
    height: 11px;
}
.macbook-pro-14-13-child5 {
    position: absolute;
    top: 105px;
    left: 476px;
    background-color: #efefef;
    width: 79px;
    height: 11px;
}
.macbook-pro-14-13-child6 {
    position: absolute;
    top: 105px;
    left: 564px;
    background-color: #efefef;
    width: 79px;
    height: 11px;
}
.macbook-pro-14-13 {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 982px;
    overflow: hidden;
    text-align: left;
    font-size: 49.2px;
    color: #0b0b0b;
    font-family: 'Lexend Deca';
}

input[type="radio"]:checked + img {
    border: 3px solid #0367fd;
    border-radius: 12px;
  }
  

